<div class="rounded">
  <app-header [headerData]="headerData"></app-header>
  <hr />
  <div class="p-2">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <carousel
            [images]="images"
            [cellsToShow]="1"
            [loop]="true"
            [autoplay]="true"
            [autoplayInterval]="3000"
            [borderRadius]="60"
            [dots]="true"
            [arrows]="false"
            [arrowsOutside]="true"
          ></carousel>
        </div>
      </div>
      <div class="row p-3 mt-3">
        <!-- <div class="col-12">
          <h3 class="mt-3" style="font-size: 20px"><b> My Profile:</b></h3>
        </div> -->
        <div class="col-4 p-1" *ngFor="let item of modules">
          <!-- <div class="card rounded" (click)="getChildDetails(item)"> -->
          <!-- <div class="card-body"> -->
          <div class="text-center py-2">
            <img
              [src]="item?.image"
              alt=""
              class="img-fluid"
              (click)="getChildDetails(item)"
              width="70"
              style="height: 65px; border-radius: 15px"
            />
          </div>
          <div class="text-center mt-1" style="font-family: sans-serif">
            {{ item?.name }}
          </div>
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <hr />
  <app-footer style="position: sticky; bottom: 5px"></app-footer>
</div>
