<div
  class="row d-flex text-center p-2 mx-3"
  style="background-color: #e9eef3; border-radius: 20px"
>
  <div class="col-4">
    <img
      src="../../assets/images/download (3).png"
      class="img-responsive"
      alt=""
      width="40"
      style="border-radius: 20px"
    />
  </div>
  <div class="col-4">
    <img
      src="../../assets/images/download (1).png"
      class="img-responsive"
      alt=""
      width="40"
      style="border-radius: 20px"
    />
  </div>
  <div class="col-4">
    <img
      src="../../assets/images/download (2).png"
      class="img-responsive"
      alt=""
      width="40"
      style="border-radius: 20px"
    />
  </div>
</div>
