<div
  style="
    background-color: #01577c;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 140px;
    align-items: end;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 10;
  "
  *ngIf="studentDetails; else childDetails"
>
  <div class="row align-items-center p-4">
    <div class="col-4 text-center">
      <div class="circle">
        <span>
          <img
            [src]="studentDetails?.[0]?.imgUrl"
            alt=""
            class="img-responsive"
            width="55"
            height="55"
            style="border-radius: 50%"
          />
        </span>
      </div>
    </div>
    <div class="col-8 mt-2">
      <b style="color: white; font-family: monospace; font-size: 20px">{{
        studentDetails?.[0]?.name
      }}</b>
      <span class="d-flex">
        <p style="color: white; font-family: monospace">
          Class: {{ studentDetails?.[0]?.class }}
        </p>
        <div
          style="height: 20px; width: 15px; border-right: 1px solid white"
        ></div>
        <p style="color: white; font-family: monospace" class="ms-3">
          Roll No:{{ studentDetails?.[0]?.rollNo }}
        </p>
      </span>
    </div>
  </div>
</div>
<ng-template #childDetails>
  <div
    class="row p-3"
    style="
      background-color: #01577c;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      height: 90px;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 10;
    "
  >
    <div class="col-4">
      <i
        class="fa fa-arrow-left"
        style="font-size: 20px; color: white"
        routerLink="/user-management"
      ></i>
    </div>
    <div class="col-8">
      <span style="color: white">{{ title }}</span>
    </div>
  </div>
</ng-template>
